$purple-high: #6b63b5;
$purple-low: rgba(107, 99, 181, 0.6);
$black: #00000099;
$gray: #999999;
$black-title: #081F32;
$body-text: #374A59;
$orange-gradient: linear-gradient(135deg, #ff0000 0%, #fed482 100%);
$green-gradient: linear-gradient(135deg, #1c792b 0%, #82e95e 100%);
$yellow-gradient: linear-gradient(135deg, #ffc700 0%, #fff388 100%);
$blue-gradient: linear-gradient(135deg, #0597b7 0%, #66d1ff 100%);
